*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    background-color: #f0f0f07d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #f0f0f0;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.2);
}
.container .left{
    position: relative;
    background: #237b9b;
    padding: 40px;
}

.profiletext{
    position: relative;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext .profileimg{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .profileimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
}
.profiletext h2 span{
    font-size: 0.7em;
    font-weight: 300;
}
.info{
    padding: 40px ;
}   
.title{
    color:#f0f0f0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
.info ul{
    position: relative;
}
.info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.info ul li .icon{
    color: #bfd41c;
    display: inline-block;
    width: 30px;
    font-size: 20px;
}
.info ul li .span{
    color: #ffffff;
    font-weight: 200px;
}
.info .education li{
    margin-bottom: 15px;
}
.info .education h5{
    color: #2baabb;
    font-weight: 600;
}
.info .education h4:nth-child(2){
    color: #ffffff;
    font-weight: 400;
}
.info .education h4{
    color: aqua;
    font-weight: 400;
}
.info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    display: block;
    margin-top: 5px;
}
.info.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #139d2d;
}
.container .right{
    position: relative;
    background: #f9fafa00;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about :last-child{
    margin-bottom: 20px;
}
.title2{
    color: #237b9b;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
p{
    color: #000000;
    font-size: 1em;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box h4{
    text-transform: uppercase;
    color: #050505;
    font-size: 16px;
}
.skills .box{
    position: relative;
    width: 100%;
    height: 6px;
    grid-template-columns: 150px 1fr;
   justify-content: center;
   align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #ffffff;
    
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #139d2d;
}
.interest ul{
    display: grid  ;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.interest ul li .icon{
    font-size: 30px;
    width: 50px;
    color: #237b9b;
}
@media (max-width: 1000px){
    .container{
        grid-template-columns:repeat(1fr);
        margin: 20px;
    }
   .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .interest ul li{
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box{
         grid-template-columns: repeat(1,1fr);
    }
}